<div class="contenedor-form">
  <div class="instruccion-form">{{instrucciones}}</div>

  <form class="form" [formGroup]="categoriasDiccionarioForm" (ngSubmit)="onSubmit()">
    <div class="categorias-gramaticales">
      <!--
        Source: https://stackoverflow.com/questions/46805343/angular-how-to-loop-for-numbers
        Para representar un for loop normal dentro de un *ngFor
      -->
      <div *ngFor="let c of [0,1,2]">
        <div class="categarias-gramaticalas-columna">
          <div *ngFor="let catGramatical of catGramaticalesColumna(c); index as i">
            <div class="categoria-gramatical" [formGroup]="catGramaticalFormGroup(i + calculadorPosApartirDeColumna(c))"
                 [ngClass]="{'borde-inferior': !catGramaticalActiva(i + calculadorPosApartirDeColumna(c)) || catGramatical.listaSubGramatical.length == 0}">
              <div class="nombre-categoria-gramatical">
                {{catGramatical.nombre}}
              </div>

              <label>
                Abreviatura:
                <input type="text" formControlName="abreviatura" class="contenido-entrada">
              </label>

              <input type="checkbox" formControlName="marcado" class="checkbox">
            </div>

            <div *ngFor="let subGramatical of catGramatical.listaSubGramatical; index as e" [hidden]="!catGramaticalActiva(i + calculadorPosApartirDeColumna(c))">
              <div [formGroup]="subGramaticalFormGroup(i + calculadorPosApartirDeColumna(c),e)">
                <div class="subcategoria-gramatical">
                  <div class="nombre-categoria-gramatical">
                    {{subGramatical.nombre}}
                  </div>

                  <label>
                    Abreviatura:
                    <input type="text" formControlName="abreviatura" class="contenido-entrada">
                  </label>

                  <input type="checkbox" formControlName="marcado" class="checkbox">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="botones">
      <app-boton [tipo]="'button'" [clase]="'cancelar'" [contenido]="'Anterior'" [routerLink]="['../form-diccionario']"></app-boton>
      <app-boton [tipo]="'submit'" [clase]="'aceptar'" [contenido]="'Siguiente'"
                 [style.pointer-events]="categoriasDiccionarioForm.invalid ?'none':'auto'"></app-boton>
    </div>
  </form>
</div>
