@import "../../../styles"

.titular
  padding-bottom: 0.1rem
  display: flex
  justify-content: space-between

  border-bottom-style: solid
  border-bottom-color: $primary_color

.nombre-pagina
  font-size: $font-size-logo
  color: $primary_color
