<main>
  <h2 *ngIf="diccionario | async as diccionario">{{ diccionario.nombre }}</h2>
  <button (click)="exportarDiccionario()">Exportar diccionario</button>

  <section>
    <div class="busqueda">
      <p>
        <button (click)="goToCreateArticulo()">Agregar</button>
      </p>
      <p>
        <input
          type="search"
          placeholder="Buscar artículo"
          [(ngModel)]="searchText"
        />
      </p>
      <hr />

      <!-- Iteramos por los articulos del diccionario -->
      <div class="articulos">
        <p
          *ngFor="let articulo of articulos | async | articulosPipe: searchText"
          (click)="displayAcepciones(articulo)"
        >
          {{ articulo.lema }}
        </p>
      </div>
    </div>

    <div *ngIf="articulo" class="articulo">
      <h3>{{ articulo.lema }}</h3>

      <button (click)="goToModifyArticulo()">Editar</button>

      <ol>
        <li *ngFor="let acepcion of acepciones">
          <span *ngIf="acepcion.catGramatical">
            {{ acepcion.catGramatical.abreviatura }}.
          </span>

          <span *ngIf="acepcion.subGramatical">
            {{ acepcion.subGramatical.abreviatura }}.
          </span>

          <span *ngIf="acepcion.infEtimologica">
            {{ acepcion.infEtimologica.nombre }}.
          </span>

          <span *ngIf="acepcion.infFonetica">
            {{ acepcion.infFonetica.nombre }}.
          </span>

          <span *ngIf="acepcion.infMorfologica">
            {{ acepcion.infMorfologica.nombre }}.
          </span>

          <span *ngIf="acepcion.infOrtografica">
            {{ acepcion.infOrtografica.nombre }}.
          </span>

          <span *ngIf="acepcion.marDiacronica">
            {{ acepcion.marDiacronica.nombre }}.
          </span>

          <span *ngIf="acepcion.marDiatecnica">
            {{ acepcion.marDiatecnica.nombre }}.
          </span>

          <span *ngIf="acepcion.marDiatopica">
            {{ acepcion.marDiatopica.nombre }}.
          </span>

          <span *ngIf="acepcion.marEstratificacionSocial">
            {{ acepcion.marEstratificacionSocial.nombre }}.
          </span>

          <span *ngIf="acepcion.marFrecuencia">
            {{ acepcion.marFrecuencia.nombre }}.
          </span>

          <span *ngIf="acepcion.marPragmatica">
            {{ acepcion.marPragmatica.nombre }}.
          </span>

          <span *ngIf="acepcion.marValoracionSocial">
            {{ acepcion.marValoracionSocial.nombre }}.
          </span>

          {{ acepcion.definicion }}
        </li>
      </ol>
    </div>
  </section>
</main>
