<main>
  <h2>{{diccionario.nombre}}</h2>
  <button (click)="exportarDiccionario()">Exportar diccionario</button>

  <section>
    <div class="busqueda">
      <p>
        <button (click)="goToCreateArticulo()">Agregar</button>
      </p>
      <p>
        <input type="search" placeholder="Buscar artículo" [(ngModel)]="searchText">
      </p>
      <hr>
  
      <!-- Iteramos por los articulos del diccionario -->
      <div class="articulos">
        <p *ngFor="let articulo of articulos | articulosPipe: searchText; index as i;" (click)="displayAcepciones(i)">{{articulo.lema}}</p>
      </div>
    </div>
  
    <div *ngIf="articulo" class="articulo">
      <h3>{{articulo.lema}}</h3>
  
      <button (click)="goToModifyArticulo()">Editar</button>
  
      <ol>
        <li *ngFor="let acepcion of acepciones">{{acepcion.catGramatical.abreviatura}}. {{acepcion.definicion}}</li>
      </ol>
    </div>
  </section>
</main>
