main
  // Container style
  height: 90vh
  border-style: solid
  border-width: 1px
  margin: 1rem

  // Container behaviour
  display: flex

.busqueda
  // Container style
  border-right-style: solid
  border-right-width: 1px

p
  // Container style
  margin-left: 1rem
  margin-right: 1rem

.articulos
  // Container style
  height: 76vh

  // Container behaviour
  overflow: auto

.articulo
  // Container style
  margin: 1rem
