@import '../../../styles'

h2
  margin-left: 1rem

section
  // Container style
  height: 87vh
  border-color: $primary-color
  border-style: solid
  border-width: 2px
  margin: 1rem

  // Container behaviour
  display: flex

.busqueda
  // Container style
  border-right-style: solid
  border-right-width: 1px
  min-width: 356px

p
  // Container style
  margin-left: 1rem
  margin-right: 1rem

hr
  border-width: 0.5px

.articulos
  // Container style
  height: 55vh

  // Container behaviour
  overflow: auto

.articulos p:hover
  cursor: pointer
  background-color: darken(white, 10%)

.articulo-y-busqueda-avanzada
  // Container style
  width: 100%

.articulo
  // Container style
  margin: 1rem
