/* You can add global styles to this file, and also import other style files */

//----------------------------------*\
// Fonts
//----------------------------------*/
// @import 'assets/sass/modules/_fonts.sass'
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap')

$primary_font: 'Roboto', sans-serif

$font-size-header: 70px
$font-size-regular: 1.5rem
$font-size-logo: 2.1rem

$white: #fff

$primary_color: #123734
$secondary_color: #95a5a6
$success_color: #18BC9C
$info_oolor: #3498DB
$warning_color: #F39C12
$danger_color: #E74C3C
