<form [formGroup]="articuloFormGroup" (ngSubmit)="onSubmit()">
  <!-- 1. Datos generales sobre el articulo -->
  <h2>1. Ingresar los datos sobre el articulo</h2>

  <!-- Agregamos los datos del diccionario en un div, para poder obtener el formgroup del diccionario -->
  <div formGroupName="articulo">
    <p>
      <label>
        Lema:
        <input type="text" formControlName="lema" />
      </label>
    </p>
  </div>
  <hr />

  <!-- 2. Ingresar las acepciones del articulo -->
  <h2>2. Ingresar las acepciones del articulo</h2>
  <hr />

  <!-- Iteramos por cada categoria que se va agregando -->
  <div
    formArrayName="acepciones"
    *ngFor="let acepcion of getAcepciones().controls; index as index"
  >
    <h3>Acepción</h3>

    <div [formGroup]="acepcion">
      <p>
        <label>
          Prioridad:
          <input type="number" formControlName="prioridad" />
        </label>
      </p>

      <p>
        <label>
          Catgoria gramatical:
          <select
            formControlName="catGramaticalId"
            (change)="actualizarListDeSubGrmAMostrar(index, $event)"
          >
            <option disabled>Seleccione una categoria</option>
            <option
              *ngFor="let catGramatical of catGramaticales | async"
              value="{{ catGramatical.id }}"
            >
              {{ catGramatical.nombre }}
            </option>
          </select>
        </label>
      </p>

      <p *ngIf="listaDeSubGrmAMostrar[index] !== undefined">
        <label>
          Subcatgoria gramatical:
          <select formControlName="subGramaticalId">
            <option disabled>Seleccione una subcategoria</option>
            <option
              *ngFor="
                let subGramatical of listaDeListasDeSubGrm[
                  listaDeSubGrmAMostrar[index]
                ]
              "
              value="{{ subGramatical.id }}"
            >
              {{ subGramatical.nombre }}
            </option>
          </select>
        </label>
      </p>

      <p>
        <label>
          Información Etimológica:
          <select formControlName="infEtimologicaId">
            <option disabled>Seleccione una información etimológica</option>
            <option
              *ngFor="let infEtimologica of infEtimologicas | async"
              value="{{ infEtimologica.id }}"
            >
              {{ infEtimologica.nombre }}
            </option>
          </select>
        </label>
      </p>

      <p>
        <label>
          Información Fonética:
          <select formControlName="infFoneticaId">
            <option disabled>Seleccione una información fonética</option>
            <option
              *ngFor="let infFonetica of infFoneticas | async"
              value="{{ infFonetica.id }}"
            >
              {{ infFonetica.nombre }}
            </option>
          </select>
        </label>
      </p>

      <p>
        <label>
          Información Morfológica:
          <select formControlName="infMorfologicaId">
            <option disabled>Seleccione una información morfológica</option>
            <option
              *ngFor="let infMorfologica of infMorfologicas | async"
              value="{{ infMorfologica.id }}"
            >
              {{ infMorfologica.nombre }}
            </option>
          </select>
        </label>
      </p>

      <p>
        <label>
          Información Ortográfica:
          <select formControlName="infOrtograficaId">
            <option disabled>Seleccione una información ortográfica</option>
            <option
              *ngFor="let infOrtografica of infOrtograficas | async"
              value="{{ infOrtografica.id }}"
            >
              {{ infOrtografica.nombre }}
            </option>
          </select>
        </label>
      </p>

      <p>
        <label>
          Marcación Diacrónica:
          <select formControlName="marDiacronicaId">
            <option disabled>Seleccione una marcación diacrónica</option>
            <option
              *ngFor="let marDiacronica of marDiacronicas | async"
              value="{{ marDiacronica.id }}"
            >
              {{ marDiacronica.nombre }}
            </option>
          </select>
        </label>
      </p>

      <p>
        <label>
          Marcación Diatécnica:
          <select formControlName="marDiatecnicaId">
            <option disabled>Seleccione una marcación diatécnica</option>
            <option
              *ngFor="let marDiatecnica of marDiatecnicas | async"
              value="{{ marDiatecnica.id }}"
            >
              {{ marDiatecnica.nombre }}
            </option>
          </select>
        </label>
      </p>

      <p>
        <label>
          Marcación Diatópica:
          <select formControlName="marDiatopicaId">
            <option disabled>Seleccione una marcación diatópica</option>
            <option
              *ngFor="let marDiatopica of marDiatopicas | async"
              value="{{ marDiatopica.id }}"
            >
              {{ marDiatopica.nombre }}
            </option>
          </select>
        </label>
      </p>

      <p>
        <label>
          Marcación Estratificación Social:
          <select formControlName="marEstratificacionSocialId">
            <option disabled
              >Seleccione una marcación estratificación social</option
            >
            <option
              *ngFor="
                let marEstratificacionSocial of marEstratificacionSociales
                  | async
              "
              value="{{ marEstratificacionSocial.id }}"
            >
              {{ marEstratificacionSocial.nombre }}
            </option>
          </select>
        </label>
      </p>

      <p>
        <label>
          Marcación Frecuencia:
          <select formControlName="marFrecuenciaId">
            <option disabled>Seleccione una marcación frecuencia</option>
            <option
              *ngFor="let marFrecuencia of marFrecuencias | async"
              value="{{ marFrecuencia.id }}"
            >
              {{ marFrecuencia.nombre }}
            </option>
          </select>
        </label>
      </p>

      <p>
        <label>
          Marcación Pragmática:
          <select formControlName="marPragmaticaId">
            <option disabled>Seleccione una marcación ragmática</option>
            <option
              *ngFor="let marPragmatica of marPragmaticas | async"
              value="{{ marPragmatica.id }}"
            >
              {{ marPragmatica.nombre }}
            </option>
          </select>
        </label>
      </p>

      <p>
        <label>
          Marcación Valoración Social:
          <select formControlName="marValoracionSocialId">
            <option disabled>Seleccione una marcación valoración social</option>
            <option
              *ngFor="let marValoracionSocial of marValoracionSociales | async"
              value="{{ marValoracionSocial.id }}"
            >
              {{ marValoracionSocial.nombre }}
            </option>
          </select>
        </label>
      </p>

      <p>
        <label>
          Definición:
          <textarea formControlName="definicion"></textarea>
        </label>

        <a type="button" (click)="deleteAcepcion(index)">Eliminar</a>
      </p>
    </div>
  </div>

  <p>
    <button type="button" (click)="addAcepcion()">Agregar acepcion</button>
  </p>
  <hr />

  <p>
    <button type="submit">Crear</button>
  </p>
</form>
