<form [formGroup]="articuloFormGroup" (ngSubmit)="onSubmit()">
  <!-- 1. Datos generales sobre el articulo -->
  <h2>1. Ingresar los datos sobre el articulo</h2>

  <!-- Agregamos los datos del diccionario en un div, para poder obtener el formgroup del diccionario -->
  <div formGroupName="articulo">
    <p>
      <label>
        Lema:
        <input type="text" formControlName="lema" />
      </label>
    </p>
  </div>
  <hr />

  <!-- 2. Ingresar las acepciones del articulo -->
  <h2>2. Ingresar las acepciones del articulo</h2>
  <hr />

  <!-- Iteramos por cada categoria que se va agregando -->
  <div
    formArrayName="acepciones"
    *ngFor="let acepcion of getAcepciones().controls; index as index"
  >
    <h3>Acepción</h3>

    <div [formGroup]="acepcion">
      <p>
        <label>
          Prioridad:
          <input type="number" formControlName="prioridad" />
        </label>
      </p>

      <p>
        <label>
          Definición:
          <textarea formControlName="definicion"></textarea>
        </label>
      </p>

      <p class="cat-gramatical">
        <label>
          Catgoria gramatical:
          <select
            formControlName="catGramaticalId"
            (change)="actualizarListaDeSubGrmAMostrar(index, $event)"
          >
            <option disabled>Seleccione una categoría</option>
            <option value="-1">Ninguna</option>
            <option
              *ngFor="let catGramatical of catGramaticales | async"
              value="{{ catGramatical.id }}"
            >
              {{ catGramatical.nombre }}
            </option>
          </select>
        </label>

        <span
          *ngIf="
            listaDeSubGrmAMostrar[index] !== undefined &&
            listaDeSubGrmAMostrar[index] >= 0
          "
        >
          <label>
            Subcatgoria gramatical:
            <select formControlName="subGramaticalId">
              <option disabled>Seleccione una subcategoria</option>
              <option value="-1">Ninguna</option>
              <option
                *ngFor="
                  let subGramatical of listaDeListasDeSubGrm[
                    listaDeSubGrmAMostrar[index]
                  ]
                "
                value="{{ subGramatical.id }}"
              >
                {{ subGramatical.nombre }}
              </option>
            </select>
          </label>
        </span>
      </p>

      <div class="informacion-marcacion">
        <p
          *ngFor="let informacionNombre of listaInformacionNombres"
          class="elemento"
        >
          <label>
            Información {{ informacionNombre[0] }}:
            <select [formControlName]="informacionNombre[1]">
              <option disabled>
                Seleccione una información {{ informacionNombre[0] }}
              </option>
              <option value="-1">Ninguna</option>
              <option
                *ngFor="
                  let informacion of informacionMarcacion[informacionNombre[1]]
                    | async
                "
                value="{{ informacion.id }}"
              >
                {{ informacion.nombre }}
              </option>
            </select>
          </label>
        </p>
      </div>

      <div class="informacion-marcacion">
        <p
          *ngFor="let marcacionNombre of listaMarcacionNombres"
          class="elemento"
        >
          <label>
            Marcación {{ marcacionNombre[0] }}:
            <select [formControlName]="marcacionNombre[1]">
              <option disabled>
                Seleccione una marcación {{ marcacionNombre[0] }}
              </option>
              <option value="-1">Ninguna</option>
              <option
                *ngFor="
                  let marcacion of informacionMarcacion[marcacionNombre[1]]
                    | async
                "
                value="{{ marcacion.id }}"
              >
                {{ marcacion.nombre }}
              </option>
            </select>
          </label>
        </p>
      </div>

      <p class="eliminar">
        <a type="button" (click)="deleteAcepcion(index)">Eliminar</a>
      </p>
    </div>
  </div>

  <p>
    <button type="button" (click)="addAcepcion()">Agregar acepción</button>
  </p>
  <hr />

  <p>
    <button type="submit">Crear</button>
  </p>
</form>
